.jumbotron {
  background-color: #333;
  color: #fff;
  padding: 100px 25px;
  text-align: center;
  /* height: 100vh; */
}

.jumbotron > h1 {
  margin-bottom: 25px;
}

.option:hover {
  background-color: #333;
  color: #fff;
}

.question {
  margin: 100px 0px;
}

.hidden {
  display: none;
}

.card {
  margin: 10px 0px;
}